# Bot Configuration
PREFIX=.
OWNER_NUMBER=166602502836424
PUBLIC_MODE=true

# Auto Features
AUTO_STATUS=false
AUTO_REACT=false
AUTO_VIEW=false
AUTO_BIO=false
AUTO_READ=false
AUTO_LIKE=false

# Server
PORT=3000
NODE_ENV=production
